@if (setting && setting.isVisible === true || setting && setting.isClosed === false) {
<section class="horizont-panel-wrapper"
         appDragAndDrop
         [isStartDrag]="isStartDrag"
         (handleDrop)="onEndDrop($event)"
         [x]="setting ? setting.position.x : 0"
         [y]="setting ? setting.position.y : 0"
         [style.width.px]="setting ? setting.size.width : 0"
         [style.height.px]="setting ? setting.size.height : 0">
    <div class="horizont-panel-wrapper__action">
        <div class="horizont-panel-wrapper__transfer" (mousedown)="onStartDrag()"></div>
        @if (setting && setting.isClosed === true) {
        <div class="horizont-panel-wrapper__close">
            <img src="./assets/close.svg" (click)="onClose()" />
        </div>
        }
    </div>
    <ng-content></ng-content>
</section>
}
