<form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <input
    class="input"
    [class.input-invalid]="isErrorEmail"
    type="email"
    placeholder="Почта"
    formControlName="email"
    name="email"
  />
  <input
    class="input"
    [class.input-invalid]="isErrorName"
    type="text"
    placeholder="Логин"
    formControlName="login"
    name="login"
  />
  <input
    class="input"
    [class.input-invalid]="isErrorPassword"
    type="password"
    placeholder="Пароль"
    formControlName="password"
    name="password"
  />
  <input
    class="input"
    [class.input-invalid]="isErrorPassword"
    type="password"
    placeholder="Подтвердите пароль"
    formControlName="confirmPassword"
    name="confirmPassword"
  />
  <button class="button" type="submit" [disabled]="isLoadingRegistrationUser$() || !registrationForm.valid">
    Зарегистрироваться
  </button>
</form>
