<button class="button-icon user-profile__user-followers">
  <hr />
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <div class="user-icon__icon">
    <img src="./assets/user.svg">
  </div>
  <hr />
</button>
