<form class="verification-form" [formGroup]="verficationForm" (ngSubmit)="onSubmit()">
  <div class="verification-form__title">
    <p>
      Чтобы завершить процесс и активировать ваш аккаунт,<br />
      введите одноразовый код (OTP), который был отправлен на<br />
      <a>{{ email }}</a
      >.
    </p>
  </div>
  <input class="input" [class.input-invalid]="isErrorVerificationUser$()" type="text" placeholder="Код подтверждения" formControlName="code" name="code" />
  <button class="button" type="submit">Подтвердить</button>
  <button class="button" type="button" (click)="onSendCode()" [disabled]="isTimeoutRepeatSendCode$() > 0">
    Отправить код {{ isTimeoutRepeatSendCode$() > 0 ? '(' + isTimeoutRepeatSendCode$() + ')' : '' }}
  </button>
</form>
